appdirs==1.4.4
attrs==20.3.0
build==0.3.1.post1
cached-property==1.5.2
certifi==2020.12.5
chardet==4.0.0
coverage==5.5
defusedxml==0.7.1
idna==2.10
importlib-metadata==3.7.2
isodate==0.6.0
lxml==4.6.2
mock==4.0.3
packaging==20.9
pep517==0.9.1
pyparsing==2.4.7
pytz==2021.1
requests==2.25.1
requests-file==1.5.1
requests-toolbelt==0.9.1
six==1.15.0
toml==0.10.2
typing-extensions==3.7.4.3
unittest-xml-reporting==3.0.4
urllib3==1.26.3
zeep==4.0.0
zipp==3.4.1
